@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   color: black;
   max-width: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}
html,
body {
   /* border: 1px solid blue; */
   /* overflow-x: hided; */
}
#default-sidebar a {
   display: flex;
   flex-direction: row;
   gap: 0.3rem;
   width: 100%;
   /* padding-left: 0.3rem; */
   justify-content: center;
   font-size: x-small;
   color: white;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
   /* border: 1px solid orange; */
   height: inherit;
   align-items: center;
   overflow-y: hidden !important;
}
#default-sidebar a.active-link {
   color: #fbb03b;
   background-image: linear-gradient(to right, #fbb03b, transparent);
}
#default-sidebar a:hover {
   color: #fbb03b;
}

#tabnav a {
   color: #a303a0;
   font-size: 70%;
   padding: 4px 0.6rem 4px 0rem;
   outline: none;
   font-weight: bold;
   
}
/* #tabnav a.active-link{
  color: red;
} */

.loading-logo{
   animation: loadlogo 1s ease-in-out infinite;
   /* transition: ease-out 3s; */
}
/* .loading-logo:hover{
   scale: 1.1;
   transition: ease-in-out 3s;
} */
@keyframes loadlogo {
   0%{
      scale:0.9;
   }
   50%{
      scale:1;
   }
   100%{
      scale:0.9;
   }
}