@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   color: black;
   max-width: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}
html,
body {
   /* border: 1px solid blue; */
   /* overflow-x: hided; */
}
#default-sidebar a {
   display: flex;
   flex-direction: row;
   gap: 0.3rem;
   width: 100%;
   /* padding-left: 0.3rem; */
   justify-content: center;
   font-size: x-small;
   color: white;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
   /* border: 1px solid orange; */
   height: inherit;
   align-items: center;
   overflow-y: hidden !important;
}
#default-sidebar a.active-link {
   color: #fbb03b;
   background-image: linear-gradient(to right, #fbb03b, transparent);
   transition: ease-out 0.2s;
}
#default-sidebar a:hover {
   color: #fbb03b;
}

#tabnav a {
   color: #a303a0;
   font-size: 70%;
   padding: 4px 0.6rem 4px 0rem;
   outline: none;
   font-weight: bold;
   /* color: #d8d8d8; */
   
}
/* #tabnav a.active-link{
  color: red;
} */

.loading-logo{
   animation: loadlogo 1s ease-in-out infinite;
   /* transition: ease-out 3s; */
}
@keyframes loadlogo {
   0%{
      scale:0.9;
   }
   50%{
      scale:1;
   }
   100%{
      scale:0.9;
   }
}
.activeSettings-link{
   background-color:#480057;
   color: white;
   border-radius: 9px;
   transition:ease-out 0.5s;
}

#slinks{
   padding: 0.5rem 0rem 0.5rem 0rem;
   width:100%;
   padding-left: 1rem;
   display: flex;
   gap: 0.3rem;
}